<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>ListProductGuest</welcome-file>
    </welcome-file-list>   
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>guest.controller.RegisterServlet</servlet-class>
    </servlet>
   

    <servlet>
        <servlet-name>VerifyServlet</servlet-name>
        <servlet-class>VerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuestServlet</servlet-name>
        <servlet-class>admin.controller.GuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServlet</servlet-name>
        <servlet-class>admin.controller.addServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listServlet</servlet-name>
        <servlet-class>controller.listServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>controller.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListController</servlet-name>
        <servlet-class>admin.controller.ListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>admin.controller.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>admin.controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCustomer</servlet-name>
        <servlet-class>customer.controller.addCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>dal.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>controller.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>customer.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDemo</servlet-name>
        <servlet-class>customer.controller.LoginDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustomer</servlet-name>
        <servlet-class>customer.controller.LoginCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductServlet</servlet-name>
        <servlet-class>admin.controller.ListProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>customer.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>HomeServlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeGuestServlet</servlet-name>
        <servlet-class>guest.controller.HomeGuestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductGuest</servlet-name>
        <servlet-class>guest.controller.ListProductGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>Product.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductCustomer</servlet-name>
        <servlet-class>customer.controller.ListProductCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogle</servlet-name>
        <servlet-class>customer.controller.LoginGoogle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPassword</servlet-name>
        <servlet-class>customer.controller.NewPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtp</servlet-name>
        <servlet-class>customer.controller.ValidateOtp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>customer.controller.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateOtpNewAccount</servlet-name>
        <servlet-class>guest.controller.ValidateOtpNewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>Product.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProduct</servlet-name>
        <servlet-class>Product.DetailProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>customer.controller.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Cart.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categories</servlet-name>
        <servlet-class>Product.Categories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categori</servlet-name>
        <servlet-class>Product.Categori</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>customer.controller.CheckOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItem</servlet-name>
        <servlet-class>customer.controller.RemoveItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>vnpay.AjaxServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayQuery</servlet-name>
        <servlet-class>vnpay.vnpayQuery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vnpayRefund</servlet-name>
        <servlet-class>vnpay.vnpayRefund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStoreServlet</servlet-name>
        <servlet-class>admin.controller.ListStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComfirmOrderServlet</servlet-name>
        <servlet-class>admin.controller.ComfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOderServlet</servlet-name>
        <servlet-class>admin.controller.ConfirmOderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueByDateMonthYear</servlet-name>
        <servlet-class>admin.controller.RevenueByDateMonthYear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowConfirmOrder</servlet-name>
        <servlet-class>admin.controller.ShowConfirmOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Statistic</servlet-name>
        <servlet-class>admin.controller.Statistic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByStore</servlet-name>
        <servlet-class>admin.controller.StatisticByStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailOrder</servlet-name>
        <servlet-class>admin.controller.ViewDetailOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieAddToCart</servlet-name>
        <servlet-class>customer.controller.CookieAddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>customer.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryByDMY</servlet-name>
        <servlet-class>customer.controller.OrderHistoryByDMY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>customer.controller.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderTracking</servlet-name>
        <servlet-class>customer.controller.OrderTracking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowServlet</servlet-name>
        <servlet-class>customer.controller.ShowServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderTrackingDetail</servlet-name>
        <servlet-class>customer.controller.ViewOrderTrackingDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindAddressServlet</servlet-name>
        <servlet-class>customer.controller.FindAddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <servlet-class>admin.controller.ConfirmOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByAjax</servlet-name>
        <servlet-class>customer.controller.SearchByAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddressServlet</servlet-name>
        <servlet-class>Store.AddressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderServlet</servlet-name>
        <servlet-class>customer.controller.CancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStore</servlet-name>
        <servlet-class>Store.ListStore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStoreServlet</servlet-name>
        <servlet-class>Store.AddStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStoreServlet</servlet-name>
        <servlet-class>Store.UpdateStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStoreServlet</servlet-name>
        <servlet-class>Store.DeleteStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderHistoryDetail</servlet-name>
        <servlet-class>customer.controller.ViewOrderHistoryDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>customer.controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailProductGuest</servlet-name>
        <servlet-class>guest.controller.DetailProductGuest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStaffAccountServlet</servlet-name>
        <servlet-class>Staff.ListStaffAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewStaffAccount</servlet-name>
        <servlet-class>Staff.AddNewStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAsStaff</servlet-name>
        <servlet-class>Staff.LoginAsStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowSucceedOrder</servlet-name>
        <servlet-class>Staff.ShowSucceedOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueByStoreDMY</servlet-name>
        <servlet-class>Staff.RevenueByStoreDMY</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowCanceledOrder</servlet-name>
        <servlet-class>Staff.ShowCanceledOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeliveringOrderServlet</servlet-name>
        <servlet-class>customer.controller.DeliveringOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCanceledOrderDetail</servlet-name>
        <servlet-class>customer.controller.ViewCanceledOrderDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPaidOrder</servlet-name>
        <servlet-class>Staff.ShowPaidOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByDateDetail</servlet-name>
        <servlet-class>admin.controller.StatisticByDateDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByMonthDetail</servlet-name>
        <servlet-class>admin.controller.StatisticByMonthDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByYearDetail</servlet-name>
        <servlet-class>admin.controller.StatisticByYearDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassServlet</servlet-name>
        <servlet-class>customer.controller.ChangePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByStoreExcel</servlet-name>
        <servlet-class>admin.controller.StatisticByStoreExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffAccount</servlet-name>
        <servlet-class>Staff.DeleteStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffAccount</servlet-name>
        <servlet-class>Staff.UpdateStaffAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByStoreByMonthExcel</servlet-name>
        <servlet-class>Staff.StatisticByStoreByMonthExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByStoreByYearExcel</servlet-name>
        <servlet-class>Staff.StatisticByStoreByYearExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticByStoreByDateExcel</servlet-name>
        <servlet-class>Staff.StatisticByStoreByDateExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticAllByDateExcel</servlet-name>
        <servlet-class>admin.controller.StatisticAllByDateExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticAllByMonthExcel</servlet-name>
        <servlet-class>admin.controller.StatisticAllByMonthExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticAllByYearExcel</servlet-name>
        <servlet-class>admin.controller.StatisticAllByYearExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PreparingOrderServlet</servlet-name>
        <servlet-class>customer.controller.PreparingOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyServlet</servlet-name>
        <url-pattern>/VerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuestServlet</servlet-name>
        <url-pattern>/GuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listServlet</servlet-name>
        <url-pattern>/listServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/ListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListController</servlet-name>
        <url-pattern>/ListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCustomer</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDAO</servlet-name>
        <url-pattern>/AdminDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDemo</servlet-name>
        <url-pattern>/LoginDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustomer</servlet-name>
        <url-pattern>/LoginCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductServlet</servlet-name>
        <url-pattern>/ListProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeGuestServlet</servlet-name>
        <url-pattern>/HomeGuestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductGuest</servlet-name>
        <url-pattern>/ListProductGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/Detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductCustomer</servlet-name>
        <url-pattern>/ListProductCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogle</servlet-name>
        <url-pattern>/LoginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPassword</servlet-name>
        <url-pattern>/NewPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtp</servlet-name>
        <url-pattern>/ValidateOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateOtpNewAccount</servlet-name>
        <url-pattern>/ValidateOtpNewAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProduct</servlet-name>
        <url-pattern>/DetailProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItem</servlet-name>
        <url-pattern>/RemoveItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/AjaxServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayQuery</servlet-name>
        <url-pattern>/vnpayQuery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vnpayRefund</servlet-name>
        <url-pattern>/vnpayRefund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStoreServlet</servlet-name>
        <url-pattern>/ListStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComfirmOrderServlet</servlet-name>
        <url-pattern>/ComfirmOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOderServlet</servlet-name>
        <url-pattern>/ConfirmOderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueByDateMonthYear</servlet-name>
        <url-pattern>/RevenueByDateMonthYear</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowConfirmOrder</servlet-name>
        <url-pattern>/ShowConfirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Statistic</servlet-name>
        <url-pattern>/Statistic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByStore</servlet-name>
        <url-pattern>/StatisticByStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOrder</servlet-name>
        <url-pattern>/ViewDetailOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieAddToCart</servlet-name>
        <url-pattern>/CookieAddToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryByDMY</servlet-name>
        <url-pattern>/OrderHistoryByDMY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/OrderHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderTracking</servlet-name>
        <url-pattern>/OrderTracking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowServlet</servlet-name>
        <url-pattern>/ShowServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderTrackingDetail</servlet-name>
        <url-pattern>/ViewOrderTrackingDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindAddressServlet</servlet-name>
        <url-pattern>/FindAddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderServlet</servlet-name>
        <url-pattern>/ConfirmOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByAjax</servlet-name>
        <url-pattern>/searchAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddressServlet</servlet-name>
        <url-pattern>/AddressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderServlet</servlet-name>
        <url-pattern>/CancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStore</servlet-name>
        <url-pattern>/ListStore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStoreServlet</servlet-name>
        <url-pattern>/AddStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStoreServlet</servlet-name>
        <url-pattern>/UpdateStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStoreServlet</servlet-name>
        <url-pattern>/DeleteStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderHistoryDetail</servlet-name>
        <url-pattern>/ViewOrderHistoryDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailProductGuest</servlet-name>
        <url-pattern>/DetailProductGuest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStaffAccountServlet</servlet-name>
        <url-pattern>/ListStaffAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewStaffAccount</servlet-name>
        <url-pattern>/AddNewStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAsStaff</servlet-name>
        <url-pattern>/LoginAsStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowSucceedOrder</servlet-name>
        <url-pattern>/ShowSucceedOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevenueByStoreDMY</servlet-name>
        <url-pattern>/RevenueByStoreDMY</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowCanceledOrder</servlet-name>
        <url-pattern>/ShowCanceledOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeliveringOrderServlet</servlet-name>
        <url-pattern>/DeliveringOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCanceledOrderDetail</servlet-name>
        <url-pattern>/ViewCanceledOrderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPaidOrder</servlet-name>
        <url-pattern>/ShowPaidOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByDateDetail</servlet-name>
        <url-pattern>/StatisticByDateDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByMonthDetail</servlet-name>
        <url-pattern>/StatisticByMonthDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByYearDetail</servlet-name>
        <url-pattern>/StatisticByYearDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassServlet</servlet-name>
        <url-pattern>/ChangePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByStoreExcel</servlet-name>
        <url-pattern>/StatisticByStoreExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffAccount</servlet-name>
        <url-pattern>/DeleteStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffAccount</servlet-name>
        <url-pattern>/UpdateStaffAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByStoreByMonthExcel</servlet-name>
        <url-pattern>/StatisticByStoreByMonthExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByStoreByYearExcel</servlet-name>
        <url-pattern>/StatisticByStoreByYearExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticByStoreByDateExcel</servlet-name>
        <url-pattern>/StatisticByStoreByDateExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticAllByDateExcel</servlet-name>
        <url-pattern>/StatisticAllByDateExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticAllByMonthExcel</servlet-name>
        <url-pattern>/StatisticAllByMonthExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticAllByYearExcel</servlet-name>
        <url-pattern>/StatisticAllByYearExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PreparingOrderServlet</servlet-name>
        <url-pattern>/PreparingOrderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ListProductGuest</welcome-file>
    </welcome-file-list>
</web-app>
